@import '../../styles/main';

.hero {
    background-size: cover;
    background-position: center;
    padding: 200px 0 30px 0;
    margin: 0 0 30px;
    width: 100%;
    position: relative;

    &::after {
        content: '';
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,1) 100%);
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        bottom: 0;
        position: absolute;
    }

    @include for-tablet-landscape-up {
        padding: 400px 0 60px 0;
        margin: 0 0 40px;
    }
}

.heroTitle,
.heroSubtitle {
    color: white;
    z-index: 1;
    position: relative;
}

.heroSubtitle {
    color: $white-80;
}
