@import '../../styles/main';

.blogContainer {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 2rem 2rem 0 2rem;
    @include for-tablet-portrait-up {
        grid-template-columns: 1fr 1fr;
    }

    @include for-tablet-landscape-up {
        grid-template-columns: repeat(4, 1fr);
    }
}

.blog {
    position: relative;
    text-decoration: none;
    min-height: 100%;
    height: auto;

    @include for-tablet-landscape-up {
        display: flex;
        flex-direction: column;

        &:first-child {
            grid-column: 1/3;
        }

        &:last-child {
            grid-column: 3/5;
        }
    }

}

.blogImage {
    width: 100% !important;
    min-height: auto !important;
}

.blogText {
    flex: 1;
    background: linear-gradient(180deg,hsla(0,0%,100%,0) 0%,#000 30%);
    background-color: transparent;
    bottom: 0;
    padding: 60px 20px 20px 20px;
    margin-top: -125px;
    position: relative;
    z-index: 1;
}

.blogTitle {
    color: white;
    font-weight: 300;
    margin-bottom: 10px;
}

.blogIntroduction {
    color: $light-grey;
    font-size: 17px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 0;
}

.blogMeta {
    background-color: $dark-grey;
    color: white;
    padding: 20px;
    font-family: $brand;
    font-weight: $light;
    font-size: 16px;
}
