@import '../../styles/main';

.blog {
    &Meta {
        color: white;
        position: relative;
        z-index: 1;
    }

    &Subtitle {
        color: $white-80;
        font-family: $body;
    }

    &Introduction {
        font-family: $brand;
        font-weight: $light;
        margin: 0 0 40px;
        font-size: 22px;
    }

    &Tag {
        font-size: 10px;
        display: inline-block;
        color: white;
        background-color: #d4566b;
        text-transform: uppercase;
        margin: 0 5px 5px 0;
        letter-spacing: 0.15em;
        font-weight: light;
        font-family: 'Lato', sans-serif;
        padding: 6px 8px;
        border-radius: 4px;
    }

    &TagTitle {
        margin-bottom: 0;
    }

    &Author {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        img {
            border-radius: 50%;
        }

        p {
            margin: 0 0 0 10px;
        }
    }
}
