@import '../../styles/main';

.blog {
    &Meta {
        color: white;
        position: relative;
        z-index: 1;
    }

    &Subtitle {
        color: $white-80;
        font-family: $body;
    }

    &Introduction {
        font-family: $brand;
        font-weight: $light;
        margin: 0 0 40px;
        font-size: 22px;
    }
}
